body {
  margin: 0px;
  width: 100%;
}

.container {
  padding: 10px;
  overflow-x: hidden;
}

h2 {
}

.category {
}

.category h2 {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
  color: #127c42;
}

.links {
  display: grid;
  grid-template-columns: repeat(5, 200px);
  grid-template-rows: repeat(1, 1fr);
  grid-auto-rows: auto;
  grid-auto-flow: column;
  gap: 3px;
  width: 1050px;
  height: auto;
  padding: 5px 0px 10px 0px;
  background-color: #e0f7ff;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}

.links:has(li:nth-child(n + 6):nth-child(-n + 10)) {
  grid-template-rows: repeat(2, 1fr);
}

.links:has(li:nth-child(n + 11):nth-child(-n + 15)) {
  grid-template-rows: repeat(3, 1fr);
}

.links:has(li:nth-child(n + 16):nth-child(-n + 20)) {
  grid-template-rows: repeat(4, 1fr);
}

.links:has(li:nth-child(n + 21):nth-child(-n + 25)) {
  grid-template-rows: repeat(5, 1fr);
}

.links li {
  list-style: none;
  padding-left: 10px;
}

.links li:hover {
}

.links li a {
  text-decoration: none;
  color: #0000cc;
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.link-text {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.links li a:visited {
  color: #551a8b;
}

.links li a img {
  display: none;
}

.links li a:hover {
  text-decoration: underline;
}
